rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow client to send emails
    match /mail/{mailId} {
      allow create: if true;
    }

    // Allow frontend client to write tracking analytics
    match /analytics/{docId} {
      allow write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
